$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,

);
 $mat-colors:(
  primary-color-dark:   #303F9F,
  primary-color:        #3F51B5,
  primary-color-light:  #C5CAE9,
  primary-color-text:   #FFFFFF,
  accent-color:         #448AFF,
  primary-text-color:   #212121,
  secondary-text-color: #757575,
  divider-color:        #BDBDBD,
 );


$toolbar-md-background:color($mat-colors, primary-color-dark);

$tabs-md-background:color($mat-colors, primary-color-dark);
$tabs-md-tab-color-active:color($mat-colors, primary-color-text);
$tabs-md-tab-color:color($mat-colors, primary-color-text);
$tabs-md-tab-text-color:color($mat-colors, primary-color-text);

$list-md-background-color:color($mat-colors, primary-color);
$list-md-text-color:color($mat-colors, primary-color-text);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
